<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <!--  <link rel="stylesheet" type="text/css" href="hello-all.css">  -->
</head>
<body>
<table>
  <tr th:each="hello,iterStat : ${helloElements}">
    <td th:text="${hello} + ', ' + ${name} + '!' " th:style="'color: ' + ${color[iterStat.index]} + ';' + ' font-size: ' + ${fontSize[iterStat.index]} + ';'"></td>
  </tr>
</table>
</body>
</html>